body{
    background: linear-gradient(to right, #7b3f00, #FFF5E1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-tabs{
    justify-content: center;
    align-items: center;
}
section{
    margin: 2%;
}
h5{
    text-align: center;
    font-size: 1.2em;
    background-color:  #FFF5E1;
}
a.nav-link{
    color: black;
}
a:hover{
    text-decoration: underline;
}
#community{
    margin: 1%;
}
h3.display-4{
   text-align: center;
}
p{
    font-size: 1.8em;
}
b{
    font-size: 1.0em;
}
h4{
    text-align: center;
    display: flex;
    align-items: center;
    margin: 10%;
    font-size: xx-large;
}
footer{
    text-align: center;
}
p{
    text-align: center;
}
@media (max-width:575px) {
    .card-title{
        font-size:99%;
        font-weight: bold;
    }
    a.nav-link{
        color: black;
        font-size: 109%;
    }
    h4{
        margin: 7%;
        font-size: 120%;
    }
}
@media (min-width:576px) {
    a.nav-link{
        color: black;
        font-size: 190%;
    }
    div img.img-fluid{
      width: 100%;
      height: 30vh;
    }
    .card-title{
        font-size:150%;
    }
    h4{
        margin: 10%;
        font-size:110%;
    }
}
@media(min-width:768px) {
    .card-title{
        font-size: 200%;
    }
}
@media(min-width:992px) {
    .card-title{
        font-size: 210%;
    }
    h4{
        font-size: 190%;
    }
}
@media(min-width:1200px) {
    .card-title{
        font-size: 190%;
    }
}
@media(min-width:1400px) {
    
}
  